################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
obj
bin
*.zip
*.nupkg
.idea
*.user
*.swp
coverage.*.xml
coverage.*.json
vscode-dscript/node_modules/
vscode-dscript/out/
vscode-dscript/server/
vscode-dscript/*.vsix